*{
	margin:auto;
	padding:auto;
}
body
{
	background-image: url('floodM.jpg');
	background-size:cover;
	background-repeat:no repeat;
}
.btn{ margin: 10px;
	padding :10px;}
.heading{
	text-align:center;
   padding:10px;
   margin-top:100px;
   padding-left:16px;
   margin-left:17em;
   margin-right:15em;
   color:white;
   background-color:rgba(0,230,0,0.6);
   transition: all .5s;
   border-radius:10px;
} 
.b{ color:white;
   padding:5px;
   background-color:rgba(210,105,30,0.7);
   transition: all .5s;
   border-radius:10px;
}

.a{
	display:block;
	background-color:rgba(0,0,0,0.7);
	border-radius:20px;
color:white;
transition: all .5s;


}	
h1:hover{
	background-color:#fff;
	color:rgb(0,270,10);
	margin-top:20px;
}
.b:hover{
	background-color:#fff;
	color:#000;
	margin-bottom:100px;
}
.b{
	padding:10px;
transition: all .5s;
}
.c{ 
	color:white;
	background-color:rgba(255,165,0,0.7);
	padding:10px;
	border-radius:20px;
	
	transition: all .5s;
}
.para1
{
	font-size:20px;
	font-weight:300px;
}
div{
	width:15%;
	margin-left:5%;
	display:block;
	float:left;
	text-align:center;
	padding:50px 50px 0px 50px;
	margin-top:200px;
}
span{
font-size:27px;
font-weight:900;
}	
div:hover{
	background-color:#fff;
	color:#000;
	margin-top:100px;
}

h2{
	color:white;
}

.d{ 
border-radius:20px;
color:white;
	background-color:rgba(0,0,0,0.5);
	transition: all .5s;
}
div i.fas{
	font-size:100px;
	
}
